Требования к представлении грамматики.

Что придётся делать:
1. Формирование грамматики из расширений (множественное расширение)
	1.1. Добавление правила
		1.1.1. Диагностика выхода из LL(1). из LL(oo)
	1.2. Выделение правила
		1.2.1. Нахождение целевого производного правила
		1.2.2. Проверка возможность расширения
2. Синтаксический анализ.
	2.1. Формирование множества ЛА.
	2.2. Нахождение допустимых правил вывода
	2.3. Применение правил вывода.
	2.4. Перебор допустимых правил вывода.
	

